@import "./_variables";
@import "./sidebar";
@import "./feed";

* {
  margin: 0% !important;
}

.app {
  height: 100vh !important;
}

.signin_link {
  cursor: pointer;
  text-decoration: underline;
}
