@import "./_variables";
@import "./sidebar";
@import "./feed";
@import "./widget";
@import "./tweetBox";
@import "./post";

* {
  margin: 0% !important;
}

html {
  height: 100vh !important;
}

.app {
  display: flex !important;
}

.signin_link {
  cursor: pointer;
  text-decoration: underline;
}
